<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-pl" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/script.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-9">
            <div style="height: 20px;"></div>
            <a href="/"><img class="img-responsive" src="/static/images/logo.png" style="float: left;" alt=""></a>
            <div style="height: 150px;"></div>
        </div>

        <!-- Wpisy -->
        <div class="col-md-9">
            <a class="btn btn-primary" style="float: right;" href="/admin/logout">Wyloguj</a>
            <a class="btn btn-primary" style="float: right; margin-right: 5px;" href="/admin/">Wróć</a>
            <br/>

            <hr>
            <div style="height: 20px;"></div>

            <form action="#" th:action="@{/admin/new}" th:object="${dto}" method="post" enctype="multipart/form-data">

                <label>Tytuł wpisu:&nbsp;&nbsp;</label>
                <input style="width: 100%" type="text" name="title" th:field="*{title}"/>

                <div style="height: 10px;"></div>
                <label>Wpis:&nbsp;&nbsp;</label>
                <textarea style="max-width: 100%; width: 100%; min-height: 100px;" cols="100" rows="10" name="text" th:field="*{text}"></textarea><br/>

                <div style="height: 10px;"></div>
                <label>Tagi:&nbsp;&nbsp;</label>
                <select style="width: 100%; height: 25px;" name="tags" th:field="*{tags}">
                    <option th:each="tag: ${possibleTags}"
                            th:value="${tag}"
                            th:text="${tag}"></option>
                </select>
                <div style="height: 20px;"></div>
                <!--<input placeholder="Last nam" type="text" th:field="*{text}"/><br/>-->
                <!--<input placeholder="About me" type="text" th:field="*{description}"/><br/>-->
                <!--Hobby:<br/>-->
                <!--<th:block th:each="item : ${hobbiesList}">-->
                <!--<td th:text="${item}"></td>-->
                <!--<input type="checkbox" name="hobbies" th:value="|${item}|" th:field="*{hobbies}" /><br/>-->
                <!--</th:block>-->
                <!--&lt;!&ndash;Plik ze zdjęciem:<input type="file" accept="image/*" th:field="*{image}"/><br/>&ndash;&gt;-->
                <!--<input placeholder="Kontakt" type="text" th:field="*{contact}"/><br/>-->
                <input type="submit" value=" Zatwierdź ">&nbsp;&nbsp;
            </form>
            <div style="height: 30px;"></div>

        </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Szukaj</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                </div>
                <!-- /.input-group -->
            </div>



        </div>

    </div>
    <!-- /.row -->

    <!-- Footer -->
    <footer>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Ewelina Ruchlewicz & Tomasz Nastały 2017</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

</body>

</html>
